.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Alterado para centralizar os elementos */
    align-items: center;
    /* Alterado para centralizar verticalmente */
    width: 100%;
    background-color: rgb(230, 227, 227);
}

.projetos>div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-basis: calc(30% - 10px);
    margin-right: 20px;
    padding: 16px;
    box-sizing: border-box;
}

.projetosImg {
    width: 100%;
    padding: 40px 0px 20px 40px;
    width: 200px;
}

.projetosImg:hover {
    transform: scale(1.1);
}

.subtitulo {
    padding-left: 40px;
    font-size: small;
}

.paragrafo {
    font-size: 10pt;
    padding-left: 40px;
    text-align: left;
}

.projetos a {
    color: rgb(131, 158, 240);
    font-size: 13pt;
    font-weight: 600;
    padding-left: 40px;
    text-transform: uppercase;
}

.projetos a:hover {
    font-size: 17pt;
    font-weight: 900;
    text-decoration: underline;
}

@media (max-width: 1202px) {

    .projetos>div {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
            flex-basis: calc(30% - 10px);
            margin-right: 20px;
            padding: 16px;
            box-sizing: border-box
        }


    
}

@media (max-width: 1122px) {
    .projetos>div {
        display: block;
        margin-right: 10px;
    }

    .projetosImg {
        width: 600px;
        text-align: center;
    }
}


/* Versão Tablet */
@media (max-width: 800px) {
    .projetos>div {
        display: block;
        margin-right: 10px;
    }

    .projetosImg {
        width: 400px;
        text-align: center;
    }
}

/* Versão Mobile */
@media (max-width: 744px) {
    .projetos>div {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .projetosImg {
        width: 300px;
        padding: 20px;
    }
}
