.fotoSobreMim {
    margin-bottom: .5rem;
    margin-left: 1.5rem;
    width: 40vw;
    float: right;
}
 
.subtitulo {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
 
.paragrafo {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
}

.portifolio {
    font-size: 20pt;
    font-weight: 600;
}

strong {
    font-size: 25pt;
    font-weight: 900;
    text-decoration: underline;
}
.link {
   font-size: 20pt;
   font-weight: 600;
}

.link:hover {
    font-size: 25pt;
    font-weight: 900;
    transition: 3ms;
}
/* SobreMim.module.css */

.subtitulo {
    /* Estilos para o subtítulo */
}

.fotoSobreMim {
    /* Estilos para a foto do Vanderlei */
}

.paragraphContainer {
    height: 100vh;
    overflow-y: scroll;
}
/* SobreMim.module.css */

.subtitulo {
    /* Estilos para o subtítulo */
}

.fotoSobreMim {
    /* Estilos para a foto do Vanderlei */
}

.paragraphContainer {
    height: 100vh;
    overflow: hidden;
    /* Oculta a barra de rolagem */
}

.paragrafo {
    /* Estilos para os parágrafos */
}

.paragrafo.active {
    /* Estilos para o parágrafo ativo */
}

.scrollButtonContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
}

.scrollButton {
    border-radius: 50%;
    background-color: #7a6e94;;
    border: none;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.scrollButton.up .arrow {
    transform: rotate(-135deg);
}
@media (max-width: 1100px) {
    .fotoSobreMim {
        float: none;
        display: block;
        margin: 0 auto 2rem;
        width: 70vw;
    }
 
    .paragrafo {
        margin-bottom: 2rem;
    }
}
 
@media (max-width: 744px) {
    .fotoSobreMim {
        width: 100%;
    }
 
    .subtitulo {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}
