.rodape {
    margin-top: 70%;
    background-image: linear-gradient(to right, #8C52FF, #5CE1E6);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;

}

.rodape a {
    font-weight: bolder;
}

.rodape p {
    font-weight: bolder;
}

.rodape div {
    text-align: center;
}