.rodape {
    background-image: linear-gradient(to right, #8C52FF, #5CE1E6);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}
