.navegacao {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    background-image: linear-gradient(to left, #8C52FF, #5CE1E6);
}
.menu {
    height: 10px;
    color: #fff;
}
 
@media (max-width: 744px) {
    .navegacao {
        height: 72px;
        
    }
}
